<!DOCTYPE html>
<html><!-- scaner.html -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{title}</title>

    <link id="favicon" rel="icon" type='image/x-icon' href="{favicon}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-3.3.7-dist/css/bootstrap.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}Font-Awesome-master/css/font-awesome.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}ionicons-master/css/ionicons.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}simple-line-icons-master/css/simple-line-icons.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}AdminLTE-2.3.11/dist/css/AdminLTE.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap3-dialog-master/dist/css/bootstrap-dialog.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-fileinput-master/css/fileinput.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-toggle-master/css/bootstrap-toggle.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}sweetalert2-master/dist/sweetalert2.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-xlgrid-master/bootstrap-xlgrid.min.css?v={local_version}">
    <link rel="stylesheet" href="{base}assets/custom/custom.min.css?v={local_version}">
    <link rel="stylesheet" href="{base}assets/custom/dialog.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}HoldOn/HoldOn.css?v={local_version}">
    <link rel="stylesheet" href="{base}assets/custom/jquery.floatingscroll.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/media/css/dataTables.bootstrap.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/media/css/jquery.dataTables_themeroller.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/yadcf-0.9.3/jquery.dataTables.yadcf.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}qtip/jquery.qtip.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/FixedHeader/css/fixedHeader.bootstrap.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/FixedColumns/css/fixedColumns.bootstrap.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-select-1.13.9/dist/css/bootstrap-select.css?v={local_version}">

    <script src="{cdn_suport}AdminLTE-2.3.11/plugins/jQuery/jquery-2.2.3.min.js?v={local_version}"></script>
    <script src="{base}assets/custom/custom.js?v={local_version}"></script>
    <script src="{cdn_suport}HoldOn/HoldOn.js?v={local_version}"></script>
    <script src="{cdn_suport}bootstrap-3.3.7-dist/js/bootstrap.min.js?v={local_version}"></script>
    <script src="{cdn_suport}sweetalert2-master/dist/sweetalert2.min.js?v={local_version}"></script>
    <script src="{cdn_suport}bootstrap3-dialog-master/dist/js/bootstrap-dialog.min.js?v={local_version}"></script>
    <script src="{cdn_suport}scanner_js/html5-qrcode.min.js?v={local_version}"></script>
    <script src="{base}assets/custom/jquery.floatingscroll.min.js?v={local_version}"></script>
    <script src="{cdn_suport}JsBarcode/JsBarcode.all.min.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/media/js/jquery.dataTables.min.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/media/js/dataTables.bootstrap.min.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/media/js/jquery.highlight.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.colVis.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.print.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.html5.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.flash.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/yadcf-0.9.3/jquery.dataTables.yadcf.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/extensions/FixedHeader/js/dataTables.fixedHeader.js?v={local_version}"></script>
    <script src="{cdn_suport}DataTables-1.10.13/extensions/FixedColumns/js/dataTables.fixedColumns.js?v={local_version}"></script>
    <script src="{cdn_suport}bootstrap-select-1.13.9/dist/js/bootstrap-select.js?v={local_version}"></script>
    <script src="{cdn_suport}qtip/jquery.qtip.min.js?v={local_version}"></script>

    <style>
        .select2 {
            z-index: 100000;
        }
    </style>

</head>
<body onbeforeunload="custom_holdon()" class="hold-transition sidebar-mini sidebar-collapse {skin_header}" onload="reLoad();">
<div id="baseURL" class="hidden">{base}</div>
<div class="wrapper">
    <header class="main-header">
        <a href="{base}" class="logo hidden-xs hidden-sm no-padding">
            <span class="logo-mini">
                <span class="glyphicon glyphicon-home"></span>
            </span>
            <span id="logo-lg" class="logo-lg">{logo_header}</span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="no-padding no-border">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <a class="sidebar-title"><b class="text-uppercase">{title}</b></a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav" id="menu_top">
                        {menu_top}
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-fixed-bottom navbar-2nd">
            <div class="no-padding no-border">
                <div style="padding-right:0;padding-left:0;" class="col-sm-2 col-xs-2 col-md-1 col-lg-1">
                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 no-padding">
                        <a href="{base}" class="btn btn__trigger-home btn__trigger--views-home"><i class="glyphicon glyphicon-home"></i></a>
                    </div>
                    <div class="hidden-xl hidden-lg hidden-md hidden-sm col-xs-6 no-padding">
                        <a href="{base}" class="btn btn__trigger-home-mb btn__trigger--views-home-mb"><i class="glyphicon glyphicon-home"></i></a>
                    </div>
                    <div class="hidden-xs col-sm-6 col-xs-6 col-md-6 col-lg-6 no-padding">
                        <div class="text-bold text-center timbul dtime">
                            <span class="jam"></span>
                            <span class="blink">:</span>
                            <span class="menit"></span>
                        </div>
                    </div>
                </div>
                <div style="padding-right:0;padding-left:0;padding-left: 17px;" class="hidden-lg col-xs-8">
                    {info_ucd}
                </div>
                <div style="padding-right:0;padding-left:0;" class="col-sm-10 col-xs-2 col-md-11 col-lg-11">
                    {float_menu_bawah}
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg hidden-xl hidden-xxl col-xs-12 bg-black text-lime text-bold">
                    <span class="col-xs-8 no-padding">
                        <span class="hari"></span>
                        <span class="tanggal"></span>
                    </span>
                    <span class="col-xs-4 no-padding text-right">
                    <span class="jam"></span>
                    <span class="blink">:</span>
                    <span class="menit"></span>
                </span>
            </div>
        </nav>
        <nav class="hidden-xs navbar navbar-fixed-bottom navbar-3rd">
            <div class="no-padding no-border">
                <span class="col-lg-2 no-padding">
                    <span class="hari timbul text-bold"></span>
                    <span class="tanggal timbul text-bold"></span>
                </span>
                <span class="col-lg-10 no-padding">
                    {info_bottom}
                </span>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                {menu_left}
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <div id="search_result"></div>
        <section class="content">
            <div class="row">
                <div class="col-md-12 no-padding">
                    {content}
                </div>
            </div>
        </section>
    </div>

    <div id='myModal' class='modal {bg_modal} fade' role='dialog'>
        <div class='modal-dialog {lebar_modal}'>
            <div class='modal-content'>
                {isi_modal}
            </div>
        </div>
    </div>
    <footer class="main-footer overflow-h">
        <div class="clear-fix"></div>
        {footer}
    </footer>
    <div class="control-sidebar-bg"></div>
</div>
<div>
    <iframe id="tray" name="tray" style="display:none;width:100%;height:120px;" src="{base}_tray/index"></iframe>
    <iframe name="result" id="result" style="resize: both;display: {display_iframe};width: 100%;height:800px;"></iframe>
</div>

<script src="{cdn_suport}AdminLTE-2.3.11/plugins/slimScroll/jquery.slimscroll.min.js?v={local_version}"></script>
<script src="{cdn_suport}AdminLTE-2.3.11/dist/js/app.min.js?v={local_version}"></script>
<script src="{cdn_suport}multi-step-modal-master/multi-step-modal.js?v={local_version}"></script>
<script src="{cdn_suport}bootstrap-fileinput-master/js/fileinput.min.js?v={local_version}"></script>
<script src="{cdn_suport}bootstrap-toggle-master/js/bootstrap-toggle.min.js?v={local_version}"></script>
<script src="{base}assets/custom/hippo_ajax.js?v={local_version}"></script>
<script src="{base}assets/custom/JS.js?v={local_version}"></script>

<script type="text/javascript">
    if (window.location.hash.substr(1, 2) == "zx") {
        var bc = window.location.hash.substr(3);
        localStorage["barcode"] = decodeURI(window.location.hash.substr(3))
        window.close();
        self.close();
        window.location.href = "about:blank";//In case self.close isn't allowed
    }
    var changingHash = false;
    function onbarcode(event) {
        switch (event.type) {
            case "hashchange": {
                if (changingHash == true) {
                    return;
                }
                var hash = window.location.hash;
                if (hash.substr(0, 3) == "#zx") {
                    hash = window.location.hash.substr(3);
                    changingHash = true;
                    window.location.hash = event.oldURL.split("\#")[1] || ""
                    changingHash = false;
                    processBarcode(hash);
                }
                break;
            }
            case "storage": {
                window.focus();
                if (event.key == "barcode") {
                    window.removeEventListener("storage", onbarcode, false);
                    processBarcode(event.newValue);
                }
                break;
            }
            default: {
                console.log(event)
                break;
            }
        }
    }
    window.addEventListener("hashchange", onbarcode, false);
    function getScan() {
        var href = window.location.href;
        var ptr = href.lastIndexOf("#");
        if (ptr > 0) {
            href = href.substr(0, ptr);
        }
        window.addEventListener("storage", onbarcode, false);
        //setTimeout('window.removeEventListener("storage", onbarcode, false)', 15000);
        localStorage.removeItem("barcode");
        //window.open  (href + "#zx" + new Date().toString());

        if (navigator.userAgent.match(/Firefox/i)) {
            //Used for Firefox. If Chrome uses this, it raises the "hashchanged" event only.
            window.location.href = ("zxing://scan/?ret=" + encodeURIComponent(href + "#zx{CODE}"));
        } else {
            //Used for Chrome. If Firefox uses this, it leaves the scan window open.
            window.open("zxing://scan/?ret=" + encodeURIComponent(href + "#zx{CODE}"));
        }
    }
    function processBarcode(bc) {
//        document.getElementById("scans").innerHTML += "<div>" + bc + "</div>";
        $('input#qr_scaner').val(bc).trigger('keyup');

        if($('button#qr_scaner_go')){
            $('button#qr_scaner_go').click();
        }

        // $('input').val(bc);
        //put your code in place of the line above.
    }
</script>

<script>
    $('#myModal').on('hidden.bs.modal', function () {
        $(this).removeData('bs.modal');
    });
    $('body').tooltip({selector: '[data-toggle-tip=tooltip]'});
    checked = false;
    function checkedAll(frm1) {
        var aa = document.getElementById(frm1);
        if (checked == false) {
            checked = true
        } else {
            checked = false
        }
        for (var i = 0; i < aa.elements.length; i++) {
            aa.elements[i].checked = checked;
        }
    }
    function load() {
        document.getElementById('tray').src = '{base}_tray/';
    }
    function reLoad() {
        setInterval("load()", 30000);
    }
    function detectEnter() {
        var keyCode = event.keyCode ? event.keyCode : event.which ? event.which
                : event.charCode;
        if (keyCode == 13) {
            console.log('entering');
            return true;
        } else {
            return false;
        }
        console.log(event);
    }
    function detectESC() {
        var keyCode = event.keyCode ? event.keyCode : event.which ? event.which
                : event.charCode;
        if (keyCode == 27) {

            return true;
        } else {
            return false;
        }
    }
    function createPrintVersion(url) {
        var oldUrl = url;
        var tmpUrl = url.replace("mode=view", "&&");
        tmpUrl = tmpUrl.replace("#content", "");
        tmpUrl = tmpUrl.replace("#printBtn", "");
        if (tmpUrl.indexOf('?') > -1) {
            var newUrl = tmpUrl + '&mode=print';
        } else {
            var newUrl = tmpUrl + '?mode=print';
        }
        window.open(newUrl);
    }
</script>

{script_bottom}

</body>
</html>
