<!DOCTYPE html>
<html><!-- tasklist_base.html -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{title}</title>

    <link id="favicon" rel="icon" type='image/x-icon' href="{base}favicon.png?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-3.3.7-dist/css/bootstrap.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}Font-Awesome-master/css/font-awesome.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}ionicons-master/css/ionicons.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}simple-line-icons-master/css/simple-line-icons.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}AdminLTE-2.3.11/dist/css/AdminLTE.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap3-dialog-master/dist/css/bootstrap-dialog.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}AdminLTE-2.3.11/dist/css/skins/_all-skins.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-fileinput-master/css/fileinput.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-toggle-master/css/bootstrap-toggle.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}sweetalert2-master/dist/sweetalert2.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-xlgrid-master/bootstrap-xlgrid.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}qtip/jquery.qtip.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}HoldOn/HoldOn.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/media/css/dataTables.bootstrap.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/media/css/jquery.dataTables_themeroller.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/yadcf-0.9.3/jquery.dataTables.yadcf.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/Buttons/css/buttons.dataTables.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/FixedHeader/css/fixedHeader.bootstrap.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/FixedColumns/css/fixedColumns.bootstrap.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}AdminLTE-2.3.11/plugins/timepicker/bootstrap-timepicker.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}MomentJs-2.24.0/daterangepicker.min.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}bootstrap-select-1.13.9/dist/css/bootstrap-select.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/FixedHeader/css/fixedHeader.bootstrap.css?v={local_version}">
    <link rel="stylesheet" href="{cdn_suport}DataTables-1.10.13/extensions/FixedColumns/css/fixedColumns.bootstrap.css?v={local_version}">
    <link rel="stylesheet" href="{base}assets/custom/custom.min.css?v={local_version}">
    <link rel="stylesheet" href="{base}assets/custom/dialog.css?v={local_version}">
    <link rel="stylesheet" href="{base}assets/custom/jquery.floatingscroll.css?v={local_version}">

    <script type="text/javascript" src="{cdn_suport}AdminLTE-2.3.11/plugins/jQuery/jquery-2.2.3.min.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}HoldOn/HoldOn.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}bootstrap-3.3.7-dist/js/bootstrap.min.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}sweetalert2-master/dist/sweetalert2.min.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}bootstrap3-dialog-master/dist/js/bootstrap-dialog.min.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}AdminLTE-2.3.11/plugins/timepicker/bootstrap-timepicker.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}MomentJs-2.24.0/moment.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}MomentJs-2.24.0/daterangepicker.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/media/js/jquery.dataTables.min.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/media/js/dataTables.bootstrap.min.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/media/js/jquery.highlight.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/dataTables.buttons.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.colVis.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.print.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.html5.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/extensions/Buttons/js/buttons.flash.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/yadcf-0.9.3/jquery.dataTables.yadcf.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/extensions/FixedHeader/js/dataTables.fixedHeader.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}DataTables-1.10.13/extensions/FixedColumns/js/dataTables.fixedColumns.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}qtip/jquery.qtip.min.js?v={local_version}"></script>
    <script type="text/javascript" src="{cdn_suport}bootstrap-select-1.13.9/dist/js/bootstrap-select.js?v={local_version}"></script>
    <!--<script type="text/javascript" src="{cdn_suport}requirejs.org_docs_release_2.3.6_r.js?v={local_version}"></script>-->

    <script type="text/javascript" src="{base}assets/custom/custom.js?v={local_version}"></script>
    <script type="text/javascript" src="{base}assets/custom/jquery.floatingscroll.min.js?v={local_version}"></script>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js"></script>
    <script type="text/javascript" src="//unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/pace-js@latest/pace-theme-default.min.css">
    <link rel="stylesheet" href="//unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>

    <style>
        tr.group,
        tr.group:hover {
            background-color: rgba(0, 0, 0, 0.1) !important;
        }
        tr.group>td{
            padding: 6px 14px !important;
            font-size: 14px !important;
            font-weight: 700;
            text-decoration-line: underline;
        }
        :root.dark tr.group,
        :root.dark tr.group:hover {
            background-color: rgba(0, 0, 0, 0.75) !important;
        }

        .sorting, .sorting_asc, .sorting_desc {
            background : none!important;
        }

        .custom-width .modal-dialog {
            width: 85vw;
            top: 2vh;
        }
        .dropzone {
            background: white;
            border-radius: 5px;
            border: 2px dashed rgb(0, 135, 247);
            border-image: none;
            max-width: 500px;
            margin-left: auto;
            margin-right: auto;
        }
        /* datatable */
        /*table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {*/
        /*white-space: nowrap;*/
        /*}*/
        .table>tbody>tr>td,
        .table>tbody>tr>th,
        .table>tfoot>tr>td,
        .table>tfoot>tr>th,
        .table>thead>tr>td,
        .table>thead>tr>th {
            /*white-space: nowrap;*/
            text-transform: capitalize;
            font-family: system-ui;
        }

        /* table biasa */
        table.table-bordered > tbody > tr > td {
            white-space: nowrap;
        }

        table.table-bordered > thead > tr > th {
            white-space: nowrap;
        }

        #text{
            position: absolute;
            top: 137px;
            left: 50%;
            font-size: 5vh;
            color: white;
            transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
        }

        #overlay {
            position: absolute; /* Sit on top of the page content */
            display: none; /* Hidden by default */
            width: 100%; /* Full width (cover the whole page) */
            height: 100%; /* Full height (cover the whole page) */
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0,0,0,0.5); /* Black background with opacity */
            z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
            cursor: pointer; /* Add a pointer on hover */
        }

        thead {
            background: lightgray;
        }

        .dataTables_wrapper .dataTables_filter_custom {
            float: left;
            text-align: right;
        }

        .dataTables_wrapper .dataTables_filter_custom input {
            margin-left: 0.5em;
        }

        table {
            font-size: 12px;
        }
    </style>

</head>

<body onbeforeunload="custom_holdon(close_holdon)" class="hold-transition skin-blue sidebar-mini sidebar-collapse" onload="reLoad();">
<div id="baseURL" class="hidden">{base}</div>
<div id="ci_session" class="hidden">{ci_session}</div>
<div class="wrapper">
    <header class="main-header">
        <a href="{base}" class="logo hidden-xs hidden-sm no-padding">
            <span class="logo-mini"><span class="glyphicon glyphicon-home"></span></span>
                <span class="logo-lg"><img src="{base}public/images/profiles/logo_header.png?v={local_version}"
                                           height="40px"></span>
        </a>
        <nav class="navbar navbar-static-top">
            <div class="no-padding no-border">
                <!--<div class="hidden-sm hidden-lgr col-sm-2 col-xs-1 col-md-1 col-lg-1 no-padding">-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <a class="sidebar-title"><b class="text-uppercase">{title}</b></a>
                <!--</div>-->
                <!--            <div class="col-sm-8 col-xs-11 col-md-8 col-lg-8 no-padding text-center">-->
                <!--                <span class="hidden-mdx hidden-lgx hidden-xlx hidden-xxlx">-->
                <!--                    <span class="navbar-brand text-center no-border" style="padding:8px;">-->
                <!--                        <a href="{base}">-->
                <!--                            <a class="btn btn-tool text-white" href="javascript:void(0)" onclick="location.href='{btn_back}';"><span class="glyphicon glyphicon-arrow-left text-yellow"></span></a>-->
                <!--                            <span class="text-white">{title} <small style="color:#eeeeee;text-transform: lowercase;">{sub_title}</small></span>-->
                <!--                        </a>-->
                <!--                    </span>-->
                <!--                </span>-->
                <!--            </div>-->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav" id="menu_top">
                        {menu_top}
                        <!--                    <li class="dropdown messages-menu">-->
                        <!--                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--                            <i class="fa fa-cart-arrow-down"></i> FG purchasing-->
                        <!--                            <span class="label label-success">4</span>-->
                        <!--                        </a>-->
                        <!--                    </li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-fixed-bottom navbar-2nd">
            <!--untuk view desktop-->
            <div class="no-padding no-border">
                <div style="padding-right:0;padding-left:0;" class="col-sm-2 col-xs-2 col-md-1 col-lg-1">
                    <div class="hidden-xs col-sm-6 col-md-6 col-lg-6 no-padding">
                        <a href="{base}" class="btn btn__trigger-home btn__trigger--views-home"><i
                                class="glyphicon glyphicon-home"></i></a>
                    </div>
                    <div class="hidden-xxxl hidden-xxl hidden-xl hidden-lg hidden-md hidden-sm col-xs-6 no-padding">
                        <a href="{base}" class="btn btn__trigger-home-mb btn__trigger--views-home-mb"><i
                                class="glyphicon glyphicon-home"></i></a>
                    </div>
                    <div class="hidden-xs col-sm-6 col-xs-6 col-md-6 col-lg-6 no-padding">
                        <div class="text-bold text-center timbul dtime">
                            <span class="jam"></span>
                            <span class="blink">:</span>
                            <span class="menit"></span>
                        </div>
                    </div>
                </div>
                <div style="padding-right:0;padding-left:0;padding-left: 17px;"
                     class="hidden-lg hidden-md hidden-sm col-xs-8">
                    {info_ucd}
                </div>
                <div style="padding-right:0;padding-left:17px;" class="hidden-xs col-sm-7 col-xs-2 col-md-9 col-lg-9">

                    {menu_taskbar}

                    <!--<a href="#" onclick="swal('Phone 1')" data-toggle="tooltip" data-placement="top" title="Phone 1" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-phone"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('Plus 1')" data-toggle="tooltip" data-placement="top" title="Plus 1" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('User 1')" data-toggle="tooltip" data-placement="top" title="User 1" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('Phone 2')" data-toggle="tooltip" data-placement="top" title="Phone 2" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-phone"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('Plus 2')" data-toggle="tooltip" data-placement="top" title="Plus 2" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('User 2')" data-toggle="tooltip" data-placement="top" title="User 2" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('Phone 3')" data-toggle="tooltip" data-placement="top" title="Phone 3" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-phone"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('Plus 3')" data-toggle="tooltip" data-placement="top" title="Plus 3" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('User 3')" data-toggle="tooltip" data-placement="top" title="User 3" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('Phone 4')" data-toggle="tooltip" data-placement="top" title="Phone 4" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-phone"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('Plus 4')" data-toggle="tooltip" data-placement="top" title="Plus 4" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-plus"></i>-->
                    <!--</a>-->

                    <!--<a href="#" onclick="swal('User 4')" data-toggle="tooltip" data-placement="top" title="User 4" class="hidden-xs btn btn__trigger-last-bawah-ds btn__trigger-last-views-bawah-ds">-->
                    <!--<i class="fa fa-user"></i>-->
                    <!--</a>-->

                </div>
                <div style="padding-right:0;padding-left:0;" class="col-sm-3 col-xs-2 col-md-2 col-lg-2">
                    {float_menu_bawah}
                </div>
            </div>
            <div class="hidden-sm hidden-md hidden-lg hidden-xxxl hidden-xxl hidden-xl hidden-xxl col-xs-12 bg-black text-lime text-bold">
                <span class="col-xs-8 no-padding">
                    <span class="hari"></span>
                    <span class="tanggal"></span>
                </span>
                    <span class="col-xs-4 no-padding text-right">
                    <span class="jam"></span>
                    <span class="blink">:</span>
                    <span class="menit"></span>
                </span>
            </div>
        </nav>
        <nav class="hidden-xs navbar navbar-fixed-bottom navbar-3rd">
            <div class="no-padding no-border">
                <span class="col-lg-2 no-padding">
                    <span class="hari timbul text-bold"></span>
                    <span class="tanggal timbul text-bold"></span>
                </span>
                    <span class="col-lg-10 no-padding">
                    {info_bottom}
                </span>
            </div>
        </nav>
    </header>
    <aside class="main-sidebar">
        <section class="sidebar">
            <ul class="sidebar-menu">
                {menu_left}
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content">
            <div style="padding-top:6px;" class="row">
                <div class="col-md-12" >
                    <div class="box box-info">{tasklist}</div>
                </div>
                <div class="col-md-5" >
                    <div class="box box-success">{projectData}</div>
                </div>
                <div class="col-md-7">
                    <div style="background: #d2d2d2; padding: 6px; max-height: 350px; overflow: auto;" class="card">{projectDataDetails}</div>
                </div>
            </div>
        </section>
    </div>
    <footer class="main-footer overflow-h">
        <div class="clear-fix"></div>
        {footer}
    </footer>
    <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
                <h3 class="control-sidebar-heading">Recent Activity</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-birthday-cake bg-red"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>
                                <p>Will be 23 on April 24th</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-user bg-yellow"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>
                                <p>New phone +1(800)555-1234</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>
                                <p>nora@example.com</p>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="menu-icon fa fa-file-code-o bg-green"></i>
                            <div class="menu-info">
                                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>
                                <p>Execution time 5 seconds</p>
                            </div>
                        </a>
                    </li>
                </ul>
                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                <ul class="control-sidebar-menu">
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Custom Template Design
                                <span class="label label-danger pull-right">70%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Update Resume
                                <span class="label label-success pull-right">95%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Laravel Integration
                                <span class="label label-warning pull-right">50%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <h4 class="control-sidebar-subheading">
                                Back End Framework
                                <span class="label label-primary pull-right">68%</span>
                            </h4>
                            <div class="progress progress-xxs">
                                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab Content</div>
            <div class="tab-pane" id="control-sidebar-settings-tab">
                <form method="post">
                    <h3 class="control-sidebar-heading">General Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Report panel usage
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Some information about this general settings option
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Allow mail redirect
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Other sets of options are available
                        </p>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Expose author name in posts
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                        <p>
                            Allow the user to show his name in blog posts
                        </p>
                    </div>
                    <h3 class="control-sidebar-heading">Chat Settings</h3>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Show me as online
                            <input type="checkbox" class="pull-right" checked>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Turn off notifications
                            <input type="checkbox" class="pull-right">
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-sidebar-subheading">
                            Delete chat history
                            <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </aside>
    <div class="control-sidebar-bg"></div>
    <div>
    <iframe id="tray" name="tray" style="display:none;width:100%;height:120px;" src="{base}_tray/index"></iframe>
    <iframe name="result" id="result" style="resize: both;display: {display_iframe};width: 100%;height:800px;"></iframe>
</div>
</div>
<script type="text/javascript" src="{cdn_suport}AdminLTE-2.3.11/plugins/slimScroll/jquery.slimscroll.min.js?v={local_version}"></script>
<script type="text/javascript" src="{cdn_suport}AdminLTE-2.3.11/dist/js/app.min.js?v={local_version}"></script>
<script type="text/javascript" src="{cdn_suport}multi-step-modal-master/multi-step-modal.js?v={local_version}"></script>
<script type="text/javascript" src="{cdn_suport}bootstrap-fileinput-master/js/fileinput.min.js?v={local_version}"></script>
<script type="text/javascript" src="{cdn_suport}bootstrap-toggle-master/js/bootstrap-toggle.min.js?v={local_version}"></script>
<script type="text/javascript" src="{base}assets/custom/hippo_ajax.js?v={local_version}"></script>
<script type="text/javascript" src="{base}assets/custom/JS.js?v={local_version}"></script>
<script type="text/javascript">
    if (window.location.hash.substr(1, 2) == "zx") {
        var bc = window.location.hash.substr(3);
        localStorage["barcode"] = decodeURI(window.location.hash.substr(3))
        window.close();
        self.close();
        window.location.href = "about:blank";//In case self.close isn't allowed
    }
</script>
<script type="text/javascript">
    var changingHash = false;

    function onbarcode(event) {
        switch (event.type) {
            case "hashchange": {
                if (changingHash == true) {
                    return;
                }
                var hash = window.location.hash;
                if (hash.substr(0, 3) == "#zx") {
                    hash = window.location.hash.substr(3);
                    changingHash = true;
                    window.location.hash = event.oldURL.split("\#")[1] || ""
                    changingHash = false;
                    processBarcode(hash);
                }
                break;
            }
            case "storage": {
                window.focus();
                if (event.key == "barcode") {
                    window.removeEventListener("storage", onbarcode, false);
                    processBarcode(event.newValue);
                }
                break;
            }
            default: {
                console.log(event)
                break;
            }
        }
    }

    window.addEventListener("hashchange", onbarcode, false);

    function getScan() {
        var href = window.location.href;
        var ptr = href.lastIndexOf("#");
        if (ptr > 0) {
            href = href.substr(0, ptr);
        }
        window.addEventListener("storage", onbarcode, false);
        setTimeout('window.removeEventListener("storage", onbarcode, false)', 15000);
        localStorage.removeItem("barcode");

        if (navigator.userAgent.match(/Firefox/i)) {
            window.location.href = ("zxing://scan/?ret=" + encodeURIComponent(href + "#zx{CODE}"));
        } else {
            window.open("zxing://scan/?ret=" + encodeURIComponent(href + "#zx{CODE}"));
        }
    }

    function processBarcode(bc) {
        document.getElementById("scans").innerHTML += "<div>" + bc + "</div>";
    }

</SCRIPT>
<script type="text/javascript">
    $('#myModal').on('hidden.bs.modal', function () {
        $(this).removeData('bs.modal');
    });
    $('body').tooltip({selector: '[data-toggle=tooltip]'});
    checked = false;
    function checkedAll(frm1) {
        var aa = document.getElementById(frm1);
        if (checked == false) {
            checked = true
        } else {
            checked = false
        }
        for (var i = 0; i < aa.elements.length; i++) {
            aa.elements[i].checked = checked;
        }
    }
    function load() {
//        document.getElementById('tray').src = '{base}_tray/';
        top.$('#result').load('{base}_tray/');
    }
    function reLoad() {
        setInterval("load()", 300000);
    }
    var callQtips = function () {
        setTimeout(function () {
            $("span[name='qtips']").each(function () {
                $(this).qtip({
                    content: {
                        text: function (event, api) {
                            $.ajax({
                                url: api.elements.target.attr('href') // Use href attribute as URL
                            })
                                    .then(function (content) {
                                        // Set the tooltip content upon successful retrieval
                                        api.set('content.text', content);
                                    }, function (xhr, status, error) {
                                        // Upon failure... set the tooltip content to error
                                        api.set('content.text', status + ': ' + error);
                                    });
                            return 'Loading...'; // Set some initial text
                        }
                    },
                    position: {
                        viewport: $(window)
                    },
                    hide: {
                        fixed: true,
                        delay: 300
                    },
                    style: 'qtip-wiki'
                });
            });
        }, 3500);
    }
    callQtips();

//    const net = require("net");
//
//    // Create a socket (client) that connects to the server
//    var socket = new net.Socket();
//    socket.connect(61337, {base_url}, function () {
//        console.log("Client: Connected to server");
//    });
//
//    // Let's handle the data we get from the server
//    socket.on("data", function (data) {
//        data = JSON.parse(data);
//        console.log("Response from server: %s", data.response);
//        // Respond back
//        socket.write(JSON.stringify({ response: "Hey there server!" }));
//        // Close the connection
//        socket.end();
//    });

</script>
{scriptBottomCtr}
{scriptBottom}
</body>
</html>


